@font-face{
    font-family:'KZGoodVibes';
    src:url('https://static.tildacdn.com/tild3464-3334-4666-b834-383231333536/KZPFMonumentaPro-Reg.woff') format('woff');
    font-weight:300;
    font-style:normal
}
@font-face{
    font-family:'KZGoodVibes';
    src:url('https://static.tildacdn.com/tild3362-3831-4661-a466-663262373565/KZGoodVibes.woff') format('woff');
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:'KZGoodVibes';
    src:url('https://static.tildacdn.com/tild3762-6537-4731-a335-313731303434/Cormorant-Regular.woff') format('woff');
    font-weight:500;
    font-style:normal
}
@font-face{
    font-family:'KZGoodVibes';
    src:url('https://static.tildacdn.com/tild3336-6436-4535-b762-626566666332/Cormorant-SemiBold.woff') format('woff');
    font-weight:600;
    font-style:normal
}
@font-face{
    font-family:'KZGoodVibes';
    src:url('https://static.tildacdn.com/tild6532-3735-4964-b436-633463626630/Cormorant-Bold.woff') format('woff');
    font-weight:700;
    font-style:normal
}
@font-face{
    font-family:'KZGoodVibes';
    src:url('https://static.tildacdn.com/tild6137-3165-4630-b639-343137366637/EVEY_Bold.woff') format('woff');
    font-weight:800;
    font-style:normal
}
body{
    font-family: Arial, sans-serif;
    background-image: url('KZGoodVibes-main.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 190vh;
    margin: 0;
    overflow-x: hidden; /* Запрещает горизонтальный скролл */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
hr {
    border: none;
    height: 2px;
    background-color: black;
    margin: 15px auto; /* Центрирование по горизонтали */
    width: 70%;
}
.container-one {
    display: flex;
    flex-direction: column;
    margin-top: 85%;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.container-one .main-title {
    margin-top: 20vh;
    width: 100%;
}
.container-one .second-title {
    width: 100%;
    height: auto;
}
.container-one .main-title h1 {
    font-family: "Bad Script", "Arial", cursive;
    font-size: clamp(30px, 6vw, 70px);
    text-align: center;
    color: rgb(33, 33, 33);
}
.container-one .second-title h2 {
    font-family: "KZGoodVibes", "Arial", cursive;
    font-size: clamp(25px, 5vw, 60px);
    text-align: center;
    color: rgb(33, 33, 33);
}
.container-one .second-title h2 span{
    font-size: 80px;
    margin-top: 1vh;
    font-family: 'KZGoodVibes', Arial, sans-serif;
}
.med-img .bg-image{
  width: 100vw;
  height: 22vh;
  object-fit: cover;
  z-index: -1;
  margin-top: 1%;
  margin-bottom: 0%;
}
.container-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    height: 50vh;
    width: 100%;
}
.container-two .main-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
/* .container-two .second-title {
    width: 100%;
    margin-top: 0%;
    height: auto;
} */
/* .container-two .main-title h1 {
    font-family: "Bad Script", cursive;
    font-size: clamp(30px, 6vw, 70px);
    text-align: center;
    color: rgb(33, 33, 33);
} */
.container-two .main-title h2 {
    font-family: "KZGoodVibes", "Arial", cursive;
    font-size: clamp(25px, 5vw, 60px);
    text-align: center;
    color: rgb(33, 33, 33);
}
.container-two .main-title h2 span{
    font-size: 80px;
    margin-top: 1vh;
    font-family: 'KZGoodVibes', Arial, sans-serif;
}
.container-two .second-title h2 {
    font-family: "KZGoodVibes", "Arial", cursive;
    font-size: clamp(25px, 5vw, 60px);
    text-align: center;
    color: rgb(33, 33, 33);
}
.container-two .second-title h2 span{
    font-size: 80px;
    margin-top: 1vh;
    font-family: 'KZGoodVibes', Arial, sans-serif;
}
.container-two .third-title h2 {
    font-family: "KZGoodVibes", "Arial", cursive;
    font-size: clamp(25px, 5vw, 60px);
    text-align: center;
    color: rgb(33, 33, 33);
}
.container-two .third-title h2 span{
    font-size: 80px;
    margin-top: 1vh;
    font-family: 'KZGoodVibes', Arial, sans-serif;
}
.container-two .four-title h2 {
    font-family: "KZGoodVibes", "Arial", cursive;
    font-size: clamp(30px, 6vw, 70px);
    text-align: center;
    color: rgb(33, 33, 33);
}
.container-two .four-title h2 span{
    font-size: 80px;
    margin-top: 1vh;
    font-family: 'KZGoodVibes', Arial, sans-serif;
}
.container-two .four-title {
    width: 100%;
    margin-top: 0%;
    height: auto;
}
#line-two{
    border: none;
    height: 2px;
    background-color: black;
    margin: 35px auto; /* Центрирование по горизонтали */
    width: 70%;
}
.container-two .five-title h2 {
    font-family: "KZGoodVibes", "Arial", cursive;
    font-size: clamp(25px, 5vw, 60px);
    text-align: center;
    color: rgb(33, 33, 33);
}
.container-two .five-title h2 span{
    font-size: 80px;
    margin-top: 1vh;
    font-family: 'KZGoodVibes', Arial, sans-serif;
}
.container-two .five-title {
    width: 100%;
    margin-top: 0%;
    height: 10vh;
}
.music-control {
    position: fixed;
    right: 13vw;
    bottom: 7vh;
    width: 10vw;
    height: 8vh;
    cursor: pointer;
    z-index: 999;
    transition: all 0.3s ease;
  }
  
  .music-control img {
    width: 100%;
  }
  
  @media (max-width: 768px) {
    .music-control {
      width: 50px;
      height: 50px;
      right: 15px;
      bottom: 15px;
    }
  }
  
  @media (max-width: 480px) {
    .music-control {
      width: 40px;
      height: 40px;
      right: 10px;
      bottom: 10px;
    }
  }
  